<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PouchParade</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="PouchParade_Logo.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> -->
</head>
<body>

    <nav>
        <span>Pouc<span class="name">hP</span>arade</span>

        <ul class="sidebar">
            <li><a href="index.html" id="home">Home</a></li>
            <li><a href="product.html">Products</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>

        <ul class="navbar">
            <li class="hideOnMobile"><a href="index.html">Home</a></li>
            <li class="hideOnMobile"><a href="about.html">About</a></li>
            <li class="hideOnMobile"><a href="product.html">Products</a></li>
            <li class="hideOnMobile"><a class="active" href="contact.html">Contact Us</a></li>
            <li onclick="displaySidebar()" class="showOnMobile ">
                <div class="hamburger">
                    <input class="checkbox" type="checkbox" />
                    <svg fill="none" viewBox="0 0 50 50" height="50" width="50">
                      <path
                        class="lineTop line"
                        stroke-linecap="round"
                        stroke-width="4"
                        stroke="black"
                        d="M6 11L44 11"
                      ></path>
                      <path
                        stroke-linecap="round"
                        stroke-width="4"
                        stroke="black"
                        d="M6 24H43"
                        class="lineMid line"
                      ></path>
                      <path
                        stroke-linecap="round"
                        stroke-width="4"
                        stroke="black"
                        d="M6 37H43"
                        class="lineBottom line"
                      ></path>
                    </svg>
                  </div>
            </li>
        </ul>
    </nav>

    <section class="contact" id="contact">
        <h2>Contact Us <span></span></h2> 
        <form action="#">
            <input required type="text" name="Name" placeholder="Enter Your Name">
            <input required type="number" name="Contact_Number" placeholder="Enter Your Number">
            <input required type="email" name="Email" placeholder="Enter Your E-Mail">
            <textarea required rows="4" name="Message" placeholder="Enter Your Message or Issue" aria-expanded="false"></textarea>
            <input type="submit" value="Submit">
        </form>
        <span class="divider"></span>
    </section>
    

    <footer>
        <h1>Pouc<span>hP</span>arade</h1>
        <div class="info">
            <h3>Contact Information</h3>
            <ul>
                <li><strong>Name :- </strong> Unknown</li>
                <li><strong>Email :- </strong>company@info.com</li>
                <li><strong>Contact :- </strong>XXX XXXX XXXX</li>
            </ul>
        </div>
        <div class="links">
            <h3>Useful Links</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html">Products</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="social-links">
            <h3>Social Media Links</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Tik Tok</a></li>
                <li><a href="#">Threads</a></li>
            </ul>
        </div>
        <span class="divider"></span>
        <div class="copyright">
            <span> Copyright © <strong>PouchParade. </strong> All rights reserved </span><br> 
            <span>Designed By <a href="#" target="_blank" rel="noopener noreferrer">Muhammad Ali</a></span>
        </div>
    </footer>


    <script src="script.js"></script>
</body>
</html>